{% extends "base.html" %}

{% block title %} PA About {% endblock %}

{% block content%}

<section class="about-us-section">
    <div class="container">
        <h2>ABOUT US</h2>
        <p>ProjectAnalysis is a professional trading journal
            which supports traders with tracking and analyzing
            their trades. Our goal is to create a platform which not
            only consists of a web application but also a community, where
            knowledge can be shared, and groups can be formed. We are aiming
            to create a simple yet effective tool which enhances your trading
            experience by a lot. Through an automated trade import, we
            have achieved to design a beginner friendly and easy environment.
            Spotting personal patterns and mistakes thereby becomes very easy
            and straight forward.</p>
    </div>
</section>

<div class="footer-decoration" style="background-color: #001123 ">
        <img src="../static/landingpage/Footer-Curve.svg" alt="" aria-hidden="true">
</div>
{% endblock %}