
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    {% load static %}
    <link href="../static/landingpage/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

    <title>
      {% block title %}
        Projectanalysis
      {% endblock %}
    </title>


  </head>
  <body>
  <div class="page-wrapper">
    <!-- -------------------------------Navigationsleiste------------------------------- -->
    <nav class="navbar">
      <div class="container-flex">
        <div class="logo"><img src="../static/landingpage/PA_Logo_schwarz.jpg" alt="Projectanalysis Logo"></div>
        <div class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'discord' %}">Discord</a>
          <a href="{% url 'socials' %}">Socials</a>
          <a href="#">Supported Brokers</a>
          <a href="#">Pricing</a>
          <a href="#">About</a>
          <a href="#">Login</a>
        </div>
      </div>
    </nav>

    <!-- -------------------------------HERO------------------------------- -->

    <main>
      {% block content %}
        <h1 class="font-anton">Nothing to see here yet.</h1>
      {% endblock %}
    </main>


    <!-- -------------------------------Footer------------------------------- -->
    <footer class="footer">
  <div class="footer-container">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="../static/landingpage/PA_Logo_Bull.PNG" alt="Projectanalysis Logo" />
    </div>
    <div class="footer-socials">
      <a href="#" aria-label="Facebook"><img src="../static/landingpage/Icon_X_White.png" alt="Projectanalysis Twitter X" /></a>
      <a href="#" aria-label="Twitter"><img src="../static/landingpage/Icon_Instagram_White.png" alt="Projectanalysis Instagram" /></a>
      <a href="#" aria-label="Instagram"><img src="../static/landingpage/Icon_LinkedIn_White.png" alt="Projectanalysis LinkedIn" /></a>
      <a href="#" aria-label="LinkedIn"><img src="../static/landingpage/Icon_Youtube_White.png" alt="Projectanalysis Youtube" /></a>
    </div>
    <div class="footer-contact">
      <a href="mailto:projectanalysisbusiness@gmail.com">PROJECTANALYSISBUSINESS@GMAIL.COM</a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-copy">
      <p>© 2025 ProjectAnalysis. All rights reserved.</p>
    </div>
    <div class="footer-legal">
      <a href="#">Careers</a>
      <a href="#">Privacy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">About us</a>
    </div>
  </div>
  </div>
</footer>


  </div>
  </body>
</html>
