{% extends "base.html" %}

{% block title %} Project Analysis {% endblock %}

{% block content%}

<section class="hero-section" style="margin-top: 0;">
       <div class="container">
         <h1>PROJECT<br>ANALYSIS</h1>
         <h2 class="font-anton" style="color: #BFD8FF">EFFECTIVE. SIMPLE. DATA ANALYSIS.</h2>
         <h3 style="margin-top: -50px;">The only professional trading journal you need to improve your trading experience.</h3>
         <button class="button-white" style="margin-bottom: -10px;">GET STARTET NOW</button>
       </div>
      </section>

      <section class="why-choose-section">
        <div class="container">
          <h1>WHY CHOOSE PROJECT ANALYSIS?</h1>
          <h3 style="margin-top: -30px;">EXPLORE THE FULL BENEFITS</h3>
          <hr class="hr-black">
          <div class="two-elements">
            <div class="box">
              <h2>EASY AND AUTOMATED TRADE IMPORT.</h2>
              <p>Read only API keys are required to import all of your trades automatically.
                 Thereby, no effort goes into journaling entries, exits, RR-ratios and much more.
                 <br><br>
                 Enable yourself to focus 100% on journaling your setups, mistakes and
                 psychological factors.</p>
            </div>
            <div class="box">
              <h1>PLACEHOLDER FOR ANIMATION OF LINKING API TO PA</h1>
            </div>
            </div>
            <hr class="hr-black">
            <div class="two-elements">
              <div class="box">
                <h2>TRANSFORM TRADING DATA INTO POWERFUL INSIGHTS.</h2>
                <p>Through the API-Trading data import, you will receive high quality
                analytics which will help you understand fundamental issues in your
                trading approach.</p>
              </div>
              <div class="box">
                <h1>PLACEHOLDER FOR ANIMATION OF DASHBOARD</h1>
              </div>
            </div>
            <hr class="hr-black">
            <div class="two-elements">
                <div class="box">
                    <h2>FAIR AND HONEST PRICING FOR BEGINNERS.</h2>
                    <p>If you're in the early stages of your trading career, you're
                        likely looking for saving expenses wherever possible.<br><br>
                        ProjectAnalysis offers a free plan designed specifically for
                        beginner traders to support them on their journey.</p>
                </div>
                <div class="box">
                    <h1>ANY IDEAS TO KEEP THE SCHEME?</h1>
                </div>
            </div>
            <hr class="hr-black">
            <div class="two-elements">
                <div class="box">
                    <h2>SIMPLE AND EFFICIENT DESIGN.</h2>
                    <p>The user interface is designed to be simple yet professional.
                        It provides a clear, structured layout while offering customization options.<br><br>
                        Use various charts, create your ideal dashboard, and track your performance
                        with a personal calendar overview.</p>
                </div>
                <div class="box">
                    <h1>ANY IDEAS TO KEEP THE SCHEME?</h1>
                </div>
            </div>
        </div>
      </section>

<div class="footer-decoration" style="background-color: #C6C6C6; margin-top: 80px;">
  <img src="../static/landingpage/Footer-Curve.svg" alt="" aria-hidden="true">
</div>
{% endblock %}