{% extends "base.html" %}

{% block title %} Project Analysis {% endblock %}

{% block content%}

<section class="hero-section">
       <div class="container">
         <h1 class="font-anton" style="line-height: 1; text-align: right; font-size: 7rem;">PROJECT<br>ANALYSIS</h1>
         <h2 class="font-anton" style="color: #BFD8FF">EFFECTIVE. SIMPLE. DATA ANALYSIS.</h2>
         <h3 style="margin-top: -50px;">The only professional trading journal you need to improve your trading experience.</h3>
         <button class="button-white" style="margin-bottom: 0;">GET STARTET NOW</button>
       </div>
      </section>

      <section class="why-choose-section">
        <div class="container">
          <h1>WHY CHOOSE PROJECT ANALYSIS?</h1>
          <h3>EXPLORE THE FULL BENEFITS</h3>
          <hr class="hr-black">
          <div class="two-elements">
            <div class="box">
              <h2>EASY AND AUTOMATED TRADE IMPORT.</h2>
              <p>Read only API keys are required to import all of your trades automatically.
                 Thereby, no effort goes into journaling entries, exits, RR-ratios and much more.
                 <br><br>
                 Enable yourself to focus 100% on journaling your setups, mistakes and
                 psychological factors.</p>
            </div>
            <div class="box">
              <h1>PLACEHOLDER FOR ANIMATION OF LINKING API TO PA</h1>
            </div>
            </div>
            <hr class="hr-black">
            <div class="two-elements">
              <div class="box">
                <h2>TRANSFORM TRADING DATA INTO POWERFUL INSIGHTS.</h2>
                <p>Through the API-Trading data import, you will receive high quality
                analytics which will help you understand fundamental issues in your
                trading approach.</p>
              </div>
              <div class="box">
                <h1>PLACEHOLDER FOR ANIMATION OF DASHBOARD</h1>
              </div>
            </div>

        </div>
      </section>

{% endblock %}