{% extends "base.html" %}

{% block title %} PA Socials {% endblock %}

{% block content%}
<div class="container discord-hero-section">
    <h1>DISCORD COMMUNITY</h1>
    <h2>JOIN OUR DISCORD COMMUNITY TO STAY IN TOUCH WITH
        OTHER PROJECTANALYSIS MEMBERS.<br>CHAT, LEARN, HAVE FUN AND ANALYZE.</h2>
    <button class="button-white" style="font-weight: bold">JOIN US HERE</button>
</div>

<!--
<div class="container socials-footer-section">
    <h1>FOLLOW US</h1>
    <h2>TO STAY UPDATED.</h2>
</div>
-->

<div class="container socials-container">
    <div class="social-box">
        <img src="../static/landingpage/Icon_Youtube_Color.png" alt="Projectanalysis Youtube">
        <h2>YOUTUBE</h2>
        <p>Explanatory videos and extended announcements.<br><br>Take your time.</p>
    </div>
    <div class="social-box">
        <img src="../static/landingpage/Icon_X_Color.png" alt="Projectanalysis X Twitter">
        <h2>X</h2>
        <p>Stay up to date with X.<br><br>Higher frequency posts with the latest information.</p>
    </div>
    <div class="social-box">
        <img src="../static/landingpage/Icon_Instagram_Color.png" alt="Projectanalysis Instagram">
        <h2>INSTAGRAM</h2>
        <p>Experience Instagram<br><br>Latest news and job offers.</p>
    </div>
    <div class="social-box">
        <img src="../static/landingpage/Icon_LinkedIn_Color.png" alt="Projectanalysis LinkedIn">
        <h2>LINKEDIN</h2>
        <p>Keep calm.<br><br>Lower frequency posts and latest job offers.</p>
    </div>
</div>

<div class="footer-decoration" style="background-color: #001123 ">
        <img src="../static/landingpage/Footer-Curve.svg" alt="" aria-hidden="true">
</div>

{% endblock %}