{% extends "base.html" %}

{% block title %} PA Brokers {% endblock %}

{% block content%}

<div class="container supported-brokers-hero">
    <h2>SUPPORTED BROKERS</h2>
    <h3>WHERE SHOULD YOU TRADE</h3>
</div>

<div class="container supported-brokers">
    <div class="two-elements-centered">
        <div class="box-centered">
            <div class="broker-header">
                <img class="broker-logo" src="../static/landingpage/mexc-logo.png" alt="MEXC Projectanalysis connectable">
                <h4>MEXC</h4>
            </div>
            <p>MEXC, founded in 2018, is a leading centralized cryptocurrency exchange
                serving over 10 million users across 170+ countries. Known for its
                high-performance trading engine, it processes 1.4 million transactions
                per second and offers over 2,700 cryptocurrencies and 3,000+ trading
                pairs. MEXC is known for having one of the lowest fees in the industry
                & optional KYC.</p>
        </div>
        <div class="box-centered">
            <div class="two-elements-centered button-group">
                <button class="button-white">CONNECT</button>
                <button class="button-white">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</div>

<div class="container supported-brokers">
    <div class="two-elements-centered">
        <div class="box-centered">
            <div class="broker-header">
                <img class="broker-logo" src="../static/landingpage/bybit_logo-min.webp" alt="Bybit Projectanalysis connectable">
                <h4>Bybit</h4>
            </div>
            <p>Bybit, established in 2018, is a leading centralized cryptocurrency
                exchange, serving over 60 million users globally. It’s the world’s
                second-largest exchange by trading volume. Bybit offers over 550
                cryptocurrencies, and 660+ trading pairs. It supports up to 100x
                leverage.</p>
        </div>
        <div class="box-centered">
            <div class="two-elements-centered button-group">
                <button class="button-white">CONNECT</button>
                <button class="button-white">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</div>

<div class="container supported-brokers">
    <div class="two-elements-centered">
        <div class="box-centered">
            <div class="broker-header">
                <img class="broker-logo" src="../static/landingpage/bitget-logo.png" alt="Bitget Projectanalysis connectable">
                <h4>Bitget</h4>
            </div>
            <p>Bitget, founded in 2018, is a cryptocurrency exchange serving over 100
                million users in 150+ countries. It specializes in derivatives, offering
                spot, futures, and copy trading with up to 125x leverage. Supporting
                over 800 cryptocurrencies, it features a user-friendly interface, low
                fees, and innovative tools like Bitget Wallet and Launchpad. Backed by
                a $600M protection fund and monthly Proof of Reserves, Bitget emphasizes
                security and transparency.</p>
        </div>
        <div class="box-centered">
            <div class="two-elements-centered button-group">
                <button class="button-white">CONNECT</button>
                <button class="button-white">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</div>

<div class="footer-decoration" style="background-color: #001123 ">
        <img src="../static/landingpage/Footer-Curve.svg" alt="" aria-hidden="true">
</div>
{% endblock %}