
      /* Body ohne padding, nur margin 0 */
      body {
        height: 100%;
        margin: 0;
        font-family: "Roboto", "Anton", sans-serif;
        background-color: #fff;
      }

      .font-anton {
        font-family: "Anton", "Roboto", sans-serif;
        font-size: 4rem;
        letter-spacing: 0.03em;
      }



      .page-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      /* Zentrierter Container mit max-width und horizontalem Innenabstand */
      .container {
          max-width: 1800px;
          margin: 0 auto;
          padding: 2rem 8rem;
      }

      .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1800px;
        margin: 0 auto;
        padding: 0 8rem;
}



      /*-------------------------------Navbar-------------------------------*/

      /* Navbar mit vollem Hintergrund */
      .navbar {
        font-family: "Roboto";
        background-color: #001123;
        padding: 2rem 0; /* nur vertikales padding */
        box-sizing: border-box;
      }

      /* Navigation links im Container */
      .nav-links {
        display: flex;
        gap: 1.5rem;
      }

      .nav-links a {
        position: relative;
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.2s;
      }

      .nav-links a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: #BFD8FF;
        border-radius: 3px;
        transition: width 0.3s ease;
      }

      .nav-links a:hover {
        color: #BFD8FF;
      }

      .nav-links a:hover:after {
        width: 100%;
      }

       /* TODO Responsive - Menü auf kleinen Bildschirmen ausblenden */
      @media (max-width: 768px) {
        .nav-links {
          display: none;
        }
      }

      /* Logo Container */
      .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: #FFFFFF;
      }

      /* Logo Image*/
      .logo img {
        max-width: 150px;
        width: 5vw;
        height: auto;
        border-radius: 2px;
      }

/*-------------------------------END-Navbar-END-------------------------------*/



/*-------------------------------Footer-------------------------------*/

.footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 3rem 0 2rem 0;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  z-index: 1;
}

.footer-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 8rem;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-logo {
    text-align: left;
}

/* Logo */
.footer-logo img {
        max-width: 150px;
        width: 5vw;
        height: auto;
        border-radius: 2px;
}

.footer-socials {
    text-align: center;
}

/* Social Icons */
.footer-socials a {
  display: inline-block;
  margin: 0 0.5rem;
  transition: opacity 0.3s;
}

.footer-socials a img {
  height: 24px;
  width: 24px;
}

.footer-socials a:hover {
  opacity: 0.7;
}

.footer-contact {
  text-align: right;
  font-size: 0.9rem;
  color: #FFFFFF;
}

.footer-contact a {
  color: #BFD8FF;
  text-decoration: none;
  transition: color 0.2s;
  word-break: break-word; /* Falls Mailadresse zu lang ist */
}

.footer-contact a:hover {
  color: #FFFFFF;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
}

.footer-copy {
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-legal {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: right;
}

.footer-legal a {
    color: #BFD8FF;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-legal a:hover {
    color: #FFFFFF;
}

/* Responsive Optimierung */
@media (max-width: 768px) {
  .footer-top {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }

  .footer-logo,
  .footer-socials,
  .footer-contact {
    text-align: center;
  }


  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-legal {
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
  }
}


/*-------------------------------END-Footer-END-------------------------------*/


/*-------------------------------HOME-------------------------------*/

.hero-section {
  background-color: #001123;
  color: white;
  padding: 1px 0 100px 0;
  position: relative;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.hero-section h1 {
    margin: 0;
    margin-bottom: 5rem;
}

.why-choose-section {
  background-color: #C6C6C6;
  margin-top: -15%;
  margin-bottom: -5rem;
  padding-top: 300px;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
}

.why-choose-section h1 {
    color: #0060A2;
    font-family: "Anton", "Roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 50px;
}

.why-choose-section h2 {
    color: #06446E;
    font-family: "Anton", "Roboto", sans-serif;
    letter-spacing: 0.03em;
    font-size: 40px;
}

.why-choose-section p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/*-------------------------------DISCORD-------------------------------*/

.discord-hero-section {
    background-color: #001123;
    text-align: center;
    font-family: "Anton", "Roboto", sans-serif;
    padding-bottom: 100px;
}

.discord-hero-section h1 {
    color: #BFD8FF;
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.discord-hero-section h2 {
    color: white;
    font-size: 38px;
    margin-top: 0;
    letter-spacing: 1px;
}

/*-------------------------------SOCIALS-------------------------------*/

.socials-hero-section {
    background-color: #001123;
    text-align: center;
    font-family: "Anton", "Roboto", sans-serif;
    padding-bottom: 100px;
}

.socials-hero-section h1 {
    color: white;
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.socials-hero-section h2 {
    color: #BFD8FF;
    font-size: 38px;
    margin-top: 0;
    letter-spacing: 1px;
}

/*-------------------------------BUTTONS-------------------------------*/

.button-white {
    font-family: "Roboto", "Anton", sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-white:hover {
    background-color: #BFD8FF;
}


/*-------------------------------LINES-------------------------------*/

.hr-black {
    border: none;
    height: 1px;
    background-color: black;
    margin: 50px auto;
    border-radius: 10px;
}

/*-------------------------------BOX-------------------------------*/

.box {
    background-color: transparent;
    padding: 20px;
    flex: 1;
}

.two-elements {
    display: flex;
    gap: 20px;
}


